<div class="card" style="width: 18rem;">
  <app-card
  [cardImgSrc]="goods.imgUrl"
  [cardTitle]="goods.name"
  [cardText]="goods.description"
  ></app-card>
  <ul class="list-group list-group-flush">
    <li class="list-group-item text-center">amount of item: {{count}}</li>
    <li class="list-group-item text-center"><app-counter [count]="count" (countEvent)="getCount($event)"></app-counter></li>
    <!-- <li class="list-group-item text-center"><button type="submit" class="btn btn-primary mb-3" routerLink="/goods/{{goods.id}}">Detail</button></li> -->
  </ul>
</div>
